<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


	<!-- CSS -->
	<link href="{{ app.request.basepath }}/lib/bootstrap/bootstrap.css" rel="stylesheet">
	<link href="{{ app.request.basepath }}/css/index.css" rel="stylesheet">
	<!-- SCRIPT -->
	<script src="{{ app.request.basepath }}/lib/jquery/jquery-3.1.1.js"></script>
	<script src="{{ app.request.basepath }}/lib/bootstrap/bootstrap.js"></script>
	<script src="{{ app.request.basepath }}/lib/angular/angular.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Accueil</a></li>
					<!--					<li><a href="marche.html">Comment ça marche</a></li>-->

					<li><a href="#">Mon profil</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<button type="button" class="" data-toggle="modal" data-target="#myModal">Inscription / Login</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
	<footer>

	</footer>



</body>

</html>